/* For Small Icons */
/* Navbar */
.icon-sm {
    font-size: 2rem;
}


/* image-lg delete post modal */
.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}


/* Like button / heart button */
.fa-heart {
    font-size: 1.5rem;
}


/* date of a post - body.blade.php */
.xsmall {
    font-size: 0.65rem;
}

/* avatar - icon profile */
/* avatar - icon edit profile */
.icon-lg {
    font-size: 9rem;
}
